<h1>Welcome! Create a new user below!</h1>

<%= flash[:error] %> 

<form action="/users" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="user[name]" placeholder="name">
  <select name="user[dojo]">
    <option value="Mountain View">Mountain View</option>
    <option value="Dallas">Dallas</option>
    <option value="Denver">Denver</option>
  </select>
  <select name="user[favorite_language]">
    <option value="French">French</option>
    <option value="German">German</option>
    <option value="English">English</option>
  </select>
  <input type="textarea" name="user[comment]" placeholder="Comment">
  <input type="submit" name="submit" value="Submit">
</form>
